body {
  margin: 0;
  top: 0;
  left: 0;
  background-color: #FFD90F;
  align-content: center;
  text-align: center;
}




#logo {
  margin-top: 50px;
}

.buttons {
  align-content: center;
  width: 600px;
  height: 300px;
  position: relative;


}